* {
  box-sizing: border-box;
}

/* App */
.components-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

/* Header */
.shop-wrapper {
  background-color: #fff;
  height: 50px;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.3rem;
}

.shop-wrapper h1 {
  font-size: 3rem;
}

body {
  background-color: #1b2530;
}

/* Loading */
.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
}

.spinner {
  width: 500px !important;
}

/* Home */

/* Shopping Cart */
.shopping-cart {
  position: absolute !important;
  right: 3rem;
}

/* Card Item  */
.card {
  height: 900px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.images {
  width: 50% !important;
  position: relative;
  bottom: 3rem;
}

.price-text {
  margin-top: 1rem !important;
  font-size: 1.3rem !important;
}

.button-wrapper {
  position: absolute;
  margin-top: 800px;
}

.purchase-button {
  height: 50px;
  width: 150px;
  font-size: 1.2rem !important;
}
