@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

/* App */
.components-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

/* Header */
.shop-wrapper {
  background-color: #fff;
  height: 50px;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.3rem;
}

.title-icon {
  width: 70px;
  margin-right: 2rem;
  padding: 0.2rem;
}

.shop-wrapper h1 {
  font-size: 3rem;
}

body {
  background-color: #1b2530;
}

/* Loading */
.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
}

.spinner {
  width: 500px !important;
}

/* Home */

/* Shopping Cart */
.shopping-cart {
  position: absolute !important;
  right: 3rem;
  position: fixed !important;
}

/* Card Item  */
.card {
  height: 900px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.images {
  width: 50% !important;
  position: relative;
  bottom: 3rem;
}

.price-text {
  margin-top: 1rem !important;
  font-size: 1.3rem !important;
}

.button-wrapper {
  position: absolute;
  margin-top: 800px;
}

.purchase-button {
  height: 50px;
  width: 150px;
  font-size: 1.2rem !important;
}

/* Cart Component */
.cart-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
}

/* Cart item component*/

.cart-item-wrapper {
  width: 300px;
  margin-bottom: 2rem;
}

.price-img-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.price-total-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
}

.cart-image {
  width: 5vw;
}

.cart-button{
  font-size: 1.2rem !important;
}
